// Navigation Styles here

.header-section{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 25px;
    border-bottom: 2px dashed #C0C0C0;
    width: 100%;

    h1 {
        margin-bottom: 20px;
    }
    nav {
        margin-top: 5px;
        
        a{
            text-decoration: none;
            color: @font-color;
            font-size: 1.8rem;
            margin-right: 25px;
        }
        a:last-child {
            margin-right: 0;
        }
    }
}

